@using WebApp.VendingMachine
@model List<Coin>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Монеты</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
    <div style="margin-top:50px" class="container">

        <h4>Монеты в автомате</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                @using (Html.BeginForm("ConfirmedEditCoins", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <table class="table">
                        @if (Model != null)
                        {
                            <tr>
                                <td>
                                    <h3>Номинал</h3>
                                </td>
                                <td>
                                    <h3>Количество</h3>
                                </td>
                                <td>
                                    <h3>Прием</h3>
                                </td>
                                <td></td>
                            </tr>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => m[i].ItemId, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m[i].Denomination, new { @class = "form-control" })
                                        @Html.DisplayFor(m => m[i].Denomination)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m[i].Count, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(m => m[i].IsAvailable, new { @class = "form-control" })
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <input type="submit" value="Сохранить" class="btn btn-primary" />
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                }
            </div>
        </div>

        <div>
            <a asp-action="Index">Вернуться на главную</a>
        </div>
    </div>
</body>
</html>