@using WebApp.VendingMachine
@model ShopcartViewModel

<!DOCUME html>

    <html>

    <head>
        <meta name="viewport" content="width-device-width" />
        <title>Vending Machine</title>
    </head>
    <body>
        @if (Model.ThisVM != null && Model.ThisVM.IsAvailable)

        {

            <div id="main-content">
                <div id="container">
                    @foreach (var coin in Model.ThisVM.Coins)
                    {


                        <div class="coin-item">
                            <p>монета @coin.Denomination</p>
                            @if (coin.IsAvailable == true)
                            {
                                @Html.ActionLink("Пополнить баланс", "AddCoin", new
                                {
                                    CoinDenom = coin.Denomination,
                                    SessionId = Model.SessionId != null ? Model.SessionId : "New",
                                    ShopcartId = Model.ShopcartId != Guid.Empty ? Model.ShopcartId : Guid.NewGuid()
                                })
                            }
                            else
                            {
                                <p>Монета заблокирована</p>
                            }
                        </div>
                    }
                </div>
                    <div class="balance-area">
                        <p class="balance">Внесено: @Model.ClientMoney</p>
                        <br />
                        @if (Model.ClientMoney > 0)
                        {
                            <table>
                                <tr>
                                    @if (Model.OrderSum > 0)
                                    {
                                        <td>
                                            @using (Html.BeginForm("CompletePurchase", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <input type="hidden" asp-for="SessionId" />
                                                <input type="hidden" asp-for="ShopcartId" />
                                                <div class="form-group">
                                                    <input type="submit" value="Купить" class="btn btn-primary" />
                                                </div>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div>
                                                <input type="submit" value="Купить" class="btn btn-primary" disabled />
                                            </div>                                            
                                        </td>
                                    }
                                    <td>
                                        @using (Html.BeginForm("CancelPurchase", "Home", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin-bottom:0px;"}))
                                        {
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="SessionId" />
                                            <input type="hidden" asp-for="ShopcartId" />
                                            <div class="form-group">
                                                <input type="submit" value="Отмена" class="btn btn-primary" />
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td>
                                        <p class="balance">К оплате: @Model.OrderSum</p>
                                        <p class="balance">Остаток: @string.Concat(Model.ClientMoney - Model.OrderSum) </p>
                                    </td>

                                </tr>
                            </table>
                        }
                        else
                        {
                            <table>
                                <tr>
                                    <td>
                                        <input type="submit" value="Купить" class="btn btn-primary" disabled />
                                    </td>
                                    <td>
                                        <input type="submit" value="Отмена" class="btn btn-primary" disabled />
                                    </td>
                                </tr>
                            </table>
                        }

                    </div>
                    <div class="items-area">
                        @foreach (var drink in Model.ThisVM.Drinks)
                        {

                            @if (drink.IsAvailable)
                            {
                                <div class="drink-item">
                                    <img style="width:150px;height:auto" src="@drink.ImageUrl" class="drink-image">
                                    <p><h4>@drink.Title</h4></p>
                                    <p>Цена: @drink.Price</p>
                                    <p>Количество: @drink.Count</p>
                                    @if (drink.Count > 0 && (Model.ClientMoney - Model.OrderSum) >= drink.Price)
                                    {
                                        @Html.ActionLink("Выбрать", "OrderDrink", new { drink.ItemId, SessionId = Model.SessionId, ShopcartId = Model.ShopcartId })
                                    }
                                </div>
                            }
                        }
                    </div>                
            </div>

        }
        else
        {
            <h1>Торговый автомат не работает</h1>
        }
    </body>
</html>
